IDD_DSP_ASM DIALOG DISCARDABLE  0, 0, 297, 137
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "北京天一集成科技有限公司     DSP 汇编语言编译器"
FONT 9, "宋体"
BEGIN
    PUSHBUTTON      "取消",IDCANCEL,252,30,38,14
    DEFPUSHBUTTON   "编译",IDCOMPILE,252,10,38,14
    LTEXT           "源程序文件名：",IDC_STATIC,19,11,58,9
    LTEXT           "出错信息文件名：",IDC_STATIC,11,27,65,9
    LTEXT           "代码文件名：",IDC_STATIC,27,41,52,11
    EDITTEXT        IDC_SOURCEFILENAME,83,10,148,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_LISTFILENAME,83,25,148,12,ES_AUTOHSCROLL | 
                    ES_READONLY
    EDITTEXT        IDC_CODEFILENAME,83,40,148,12,ES_AUTOHSCROLL | 
                    ES_READONLY
    GROUPBOX        "编译信息：",IDC_STATIC,9,62,283,68
    LTEXT           "Static",IDC_COMPILE_MSG,19,80,262,41
END

IDD_DSP_LINK DIALOG DISCARDABLE  0, 0, 298, 199
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "北京天一集成科技有限公司  DSP  编译器 Link"
FONT 9, "宋体"
BEGIN
    PUSHBUTTON      "取消",IDCANCEL,253,33,38,14
    DEFPUSHBUTTON   "连接",IDLINK,253,12,38,14
    LTEXT           "Obj列表文件名：",IDC_STATIC,20,14,61,9
    LTEXT           "输出列表文件名：",IDC_STATIC,16,31,65,9
    LTEXT           "代码文件名：",IDC_STATIC,32,48,51,11
    EDITTEXT        IDC_SOURCEFILENAME,88,12,146,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_LISTFILENAME,88,29,146,12,ES_AUTOHSCROLL | 
                    ES_READONLY
    EDITTEXT        IDC_CODEFILENAME,88,46,146,12,ES_AUTOHSCROLL | 
                    ES_READONLY
    GROUPBOX        "编译信息：",IDC_STATIC,7,104,285,89
    LTEXT           "Static",IDC_COMPILE_MSG,17,120,266,65
    LTEXT           "调试信息文件名：",IDC_STATIC,16,66,67,11
    EDITTEXT        IDC_DEBUGFILENAME,88,63,146,12,ES_AUTOHSCROLL | 
                    ES_READONLY
    CONTROL         "二进制",IDC_CHECK1,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,26,85,40,10
    CONTROL         "插入行注释",IDC_CHECK2,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,85,85,56,10
    CONTROL         "行尾注释",IDC_CHECK3,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,163,85,48,10
    CONTROL         "生成地址",IDC_CHECK4,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,229,85,48,10
END
